@use "base/mixins" as *;
@use "base/variables" as *;


.contenido-ordenes {
    @include contenedor(160rem);
    flex: 1;
}

.ordenes-page {
    @include sombra;
    background-color: $gris-claro;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 4rem;

    input {
        border: none;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        border: 1px solid darken($gris-claro, 10);
        margin-bottom: 3rem;
    }
    
    .cuerpo-orden {
        .ordenes {
            @include grid(6, 2rem);
            a {
                color: $negro
            }
        }

        .orden {
            @include sombra;
            padding: 2rem;
            background-color: $blanco;
            border-radius: 1rem;

            h3 {
                color: $azul;
            }

            :hover {
                cursor: pointer;
            }
        }

        .mostrar-orden {
            background-color: $blanco;
            padding: 2rem;
            border-radius: 1rem;
            border: 1px solid darken($gris-claro, 10);

            @include grid(2,2rem);

            .datos-usuario {
                h3 {
                    color: $azul;
                }
                p {
                    font-size: 2.3rem;
                    line-height: 1.3;
                }
            }

            .productos-orden {
                text-align: right;

                h2 {
                    color: darken($verde, 18);
                }

                .datos-producto {
                    margin-bottom: 3rem;
                    border-bottom: 2px solid darken($gris-claro, 10);

                    .precio {
                        color: darken($verde, 18);
                        font-size: 3rem;
                        font-weight: $bold;
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }    
}