@use "base/mixins" as *;
@use "base/variables" as *;

.guardar {
    display: flex;
    justify-content: right;
    @include contenedor(140rem);

    .boton-guardar {
        @include boton($azul, $blanco);
        @include sombra;
        width: 90%;
        margin: 0 auto 2rem;
        border-radius: 1rem;
        display: none;

        @include tablet {
            width: 23rem;
            margin: 0 2rem 2rem 0;
        }
    }

    .mostrar {
        display: inline-block;
    }
}
